openapi: 3.0.3
info:
  description: "Get your citaten here."
  version: "0.0.1"
  title: "Citaten"
servers:
  - url: https://api-citaten.odee.net
    description: odee.net
  - url: http://localhost:8080
    description: localhost
paths:
  /citaten:
    get:
      summary: "Get all citaten"
      operationId: "getCitaten"
      responses:
        '200':
          $ref: '#/components/responses/OkCitaten'
  /sprekers:
    get:
      summary: "Get all sprekers"
      operationId: "getSprekers"
      responses:
        '200':
          $ref: '#/components/responses/OkSprekers'
  /categorien:
    get:
      summary: "Get all categorien"
      operationId: "getCategorien"
      responses:
        '200':
          $ref: '#/components/responses/OkCategorien'
components:
  responses:
    OkCitaten:
      description: Get all Citaten
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Citaten'
    OkSprekers:
      description: Get all Sprekers
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Sprekers'
    OkCategorien:
      description: Get all Categorien
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Categorien'
  schemas:
    Citaten:
      type: array
      items:
        $ref: '#/components/schemas/Citaat'
    Citaat:
      type: "object"
      properties:
        uuid:
          type: "string"
          format: "uuid"
        name:
          type: "string"
        spreker:
          type: "integer"
        categorie:
          type: "integer"
    Sprekers:
      type: array
      items:
        $ref: '#/components/schemas/Spreker'
    Spreker:
      type: "object"
      properties:
        uuid:
          type: "string"
          format: "uuid"
        name:
          type: "string"
    Categorien:
      type: array
      items:
        $ref: '#/components/schemas/Categorie'
    Categorie:
      type: "object"
      properties:
        uuid:
          type: "string"
          format: "uuid"
        name:
          type: "string"
