<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

    <script th:if="${@environment.getProperty('gtag')} and ${#arrays.contains(@environment.getActiveProfiles(),'production')}"
            async
            th:src="'https://www.googletagmanager.com/gtag/js?id=' + ${@environment.getProperty('gtag')}"></script>
    <script th:if="${@environment.getProperty('gtag')} and ${#arrays.contains(@environment.getActiveProfiles(),'production')}"
            th:inline="javascript">
        /*<![CDATA[*/
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', /*[[${@environment.getProperty('gtag')}]]*/ null);
        /*]]>*/
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="webjars/bootstrap/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/sticky-footer.css}"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/citaten.css}"/>


    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <title>Citaten</title>

</head>
<body>

<div th:fragment="leader">
    <a class="github-fork-ribbon" href="https://github.com/bhuism/citaten" data-ribbon="Fork me on GitHub"
       title="Fork me on GitHub">Fork me on GitHub</a>
</div>

<footer class="footer" th:fragment="footer">
    <div class="container">
        <span class="text-muted">©2019 <a style="color: inherit;text-decoration: none;" href="http://www.appsource.nl">Appsource</a></span>
        - <a href="https://github.com/bhuism/citaten/commit/@env.COMMIT_SHA@"><img alt="Latest badge" src="https://badge.odee.net/github/sha/bhuism/citaten/master/@env.COMMIT_SHA@/badge.svg"></a>
        - <span th:text="${#strings.listJoin(@environment.getActiveProfiles(), ',')}"></span>
        - <span th:text="${#calendars.format(#calendars.createNow(), 'dd MMM yyyy HH:mm:ss')}"></span>
    </div>
</footer>

<div th:fragment="scripts" th:remove="tag">
    <script src="webjars/jquery/jquery.min.js"></script>
    <script src="webjars/popper.js/umd/popper.min.js"></script>
    <script src="webjars/bootstrap/js/bootstrap.min.js"></script>
</div>

</body>
</html>
