<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/template.html :: header"></head>
<body>
<div th:replace="fragments/template.html :: leader"></div>
<div class="jumbotron">
    <div class="container">
        <h1 class="display-3">Citaten!</h1>
        <p>
            <a href="/citaten" class="btn btn-primary btn-lg">Citaten »</a>
            <a href="/swagger-ui/api-docs.html?url=/v3/api-docs.yaml&validatorUrl=" class="btn btn-primary btn-lg">Swagger-ui</a>
            <a href="/v3/api-docs.yaml" class="btn btn-primary btn-lg">Api spec</a>
        </p>
    </div>
</div>
<footer th:replace="fragments/template.html :: footer"></footer>
<div th:replace="fragments/template.html :: scripts"></div>
</body>
</html>